# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa
google-services.json
GoogleService-Info.plist

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Editors
.vscode/
.idea/

# Env
.env
.env.*
!.env.example

# EAS
credentials.json
.eas/
